APP_VERSION=1.0.0
APP_IMAGE=
APP_PORT=8080
JAVA_OPTS=-Xms512m -Xmx1024m

DB_NAME=enlighten_platform
DB_PORT=3307
DB_ROOT_PASSWORD=ChangeMe123!

APP_JWT_SECRET=ChangeThisSecretToYourOwnAtLeast32BytesLength
TOKEN_BLACKLIST_TYPE=redis

APP_UPSTREAM_SUBTITLE_DOWNLOAD_URL=http://127.0.0.1:8081/api/subtitles/download
APP_UPSTREAM_SUBTITLE_TOKEN=
APP_UPSTREAM_VIDEO_DOWNLOAD_URL=http://127.0.0.1:57599

# 数字人模型管理
APP_UPSTREAM_DH_MODELS_URL=http://127.0.0.1:57599/dh/models
APP_UPSTREAM_DH_TRAIN_URL=http://127.0.0.1:57599/dh/train
APP_DH_DEFAULT_MODELS=17552381569271.mp4,17552381752582.mp4,17552381860933.mp4,17552381977484.mp4,17552382060555.mp4,1755746810144韩杨分享的视频.mp4,b站男医生,test_bilibili_Dr

# 大模型上游URL
APP_UPSTREAM_URL=http://127.0.0.1:57599
APP_SUBTITLE_FUSION_URL=http://127.0.0.1:8081


APP_CHAT_HISTORY_LIMIT=10
APP_CHAT_REDIS_TTL_SECONDS=86400

# 数字人每行字符上限（默认10）
APP_DH_TEXT_SPLIT_LEN=10

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

ROCKETMQ_NAME_SERVER=127.0.0.1:9876
